<div class="App">
    <header class="App-header">

        <div class="characteres">
            <h1>Personajes</h1>
            <app-ui-span 
                [text]="'Volver a inicio'"
                [style]="'back-home'"
                [routerLink]="['../']">
            </app-ui-span>
            <div class="container-characters">
                <app-character></app-character>
            </div>

            <app-ui-span 
                [text]="'Volver a inicio'"
                [style]="'back-home'"
                [routerLink]="['../']">
            </app-ui-span>
        </div>



    </header>
</div>
